* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;      
}

.main {
    max-height: 862px;
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
}

.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}

h1 {
    font-weight: 800;
    font-size: 120px;
    line-height: 120px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h1 span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
    margin-bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}

a {
    display: inline-block;
    color: #1E2F40;
    background-color:  #FBB731;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 45px;
    font-weight: 700;
    font-size: 14px;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

img {
    width: 829px;
    position: absolute;
    right: -168px;
}
